* {
    box-sizing: border-box;
  }
  
  .row {  
    display: flex;
    flex-wrap: wrap;
  }

.flex-container {
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
  }

  .side {
    flex: 30%;
    background-color: khaki;
    padding: 20px;
  }

  .main {
    flex: 70%;
    background-color:powderblue;
    padding: 20px;
  }

  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }

.slideshow-container{
  max-width: 60000px;
  max-height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img{
  max-width: 700px;
  max-height: 400px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p{
  padding: 20px;
  max-width: 100%;
}


  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
